.my-button {
    android-elevation: 4;
    border-color: transparent;
    border-radius: 15;
    border-width: 1;
    color: whitesmoke;
    font-size: 18;
    font-weight: bold;
    height: 50;
    width: 150;
}

.my-button:active {
    android-elevation: 8;
    background-color: whitesmoke;
    border-color: darkolivegreen;
    border-radius: 20;
    border-width: 1;
    color: lightseagreen;
    font-size: 18;
    font-weight: bold;
}
