<Page xmlns="http://www.nativescript.org/tns.xsd" >
    <StackLayout width="280">
         <Image (tap)="submit()" src="~/images/tick.png" style="width: 80; height : 80;" ></Image>
        <StackLayout class="dropdown">
            <DropDown width="90%" horizontalAlignment="center" #dd
                      class="dropdown-inside"
                      itemsTextAlignment="center"
                      [items]="items"
                      [(ngModel)]="selectedIndex"
                      (selectedIndexChanged)="onchange($event)"
                      (opened)="onopen()"
                      (closed)="onclose()"
            ></DropDown>

        </StackLayout>
        <ScrollView width="280">

            <ListView height="450" [items]="users" separatorColor="transparent">

                <ng-template let-item="item" let-index="index">
                    <StackLayout>
                        <GridLayout class="list-item" columns="auto,*">
                            <Image col="0" left="1" src="~/images/{{item.picturePath}}" class="rounded-image"></Image>
                            <StackLayout verticalAlignment="center" col="1" class="m-l-10 m-r-10">
                                <Label  class="m-b-5 p-l-10" [text]="item.name"></Label>

                                <TextField  *ngIf="selectedIndex===0; else equally"  [(ngModel)]="howValues[index]"
                                           class="group" hint="How much?" borderColor="#0081A7" keyboardType="number"
                                ></TextField>

                                <ng-template #equally>
                                    <Label
                                               [text]="equalValues[index]" class="p-l-10" fontSize="20" fontWeight="bold"  borderWidth="0" borderColor="#0081A7"
                                    ></Label>
                                </ng-template>


                            </StackLayout>

                        </GridLayout>
                    </StackLayout>
                </ng-template>
            </ListView>

        </ScrollView>
    </StackLayout>
</Page>

