

.group{
    background-color: white; /* Green background */
    cursor: pointer; /* Pointer/hand icon */
    color: #A93F55;
    border-width: 1;
    border-color: #0081A7;
    placeholder-color: #A93F55;
    font-size: 20;
}

TextField.group {
    padding: 10;

    font-weight: bold;
}
