<!-- >> add-settle-up-dialog-host -->

<header-app title="SETTLE UP"></header-app>


<StackLayout class="m-t-5">
    <AbsoluteLayout  horizontalAlignment="center">
        <Image left="22"   class="rounded-image m-t-5" src="~/images/{{pickedUsers[0] ? pickedUsers[0].picturePath : 'default.jpg'}}"></Image>
        <StackLayout (tap)="userClicked(0)"  left="128" top="42" borderColor="#0081A7" borderWidth="1" backgroundColor="white" width="20" height="20">

            <My-Shape class="m-5" backgroundColor="#A93F55" style="clip-path: polygon(50% 100%, 0 0, 100% 0); width: 50%; height : 40%"></My-Shape>

        </StackLayout>
    </AbsoluteLayout>
    <My-Shape style="background-color: #0081A7; height: 50; width: 2%;"></My-Shape>
    <My-Shape
            style="background-color: #0081A7; height: 15; width: 5.2%; clip-path: polygon(0% 0%, 100% 0, 100% 0, 50% 100%, 50% 100%);"></My-Shape>

    <StackLayout orientation="horizontal" horizontalAlignment="center" width="56%">
        <TextField #howmuch class="group" hint="How much?" borderColor="#0081A7" width="65%"
                   borderRadius="10 0 0 10" keyboardType="number"></TextField>

        <StackLayout orientation="horizontal" class="group" borderRadius="0 10 10 0">
            <Label   text="PLN" ></Label>
            <My-Shape class="m-l-5 m-t-5" backgroundColor="#A93F55" style="clip-path: polygon(50% 100%, 0 0, 100% 0); width: 10; height : 10;"></My-Shape>

        </StackLayout>
    </StackLayout>
    <My-Shape style="background-color: #0081A7; height: 50; width: 2%;"></My-Shape>
    <My-Shape
            style="background-color: #0081A7; height: 15; width: 5.2%; clip-path: polygon(0% 0%, 100% 0, 100% 0, 50% 100%, 50% 100%);"></My-Shape>

    <AbsoluteLayout  horizontalAlignment="center">
        <Image left="22"   class="rounded-image m-b-20" src="~/images/{{pickedUsers[1] ? pickedUsers[1].picturePath : 'default.jpg'}}"></Image>
        <StackLayout (tap)="userClicked(1)"   left="128" top="42" borderColor="#0081A7" borderWidth="1" backgroundColor="white" width="20" height="20">

            <My-Shape class="m-5" backgroundColor="#A93F55" style="clip-path: polygon(50% 100%, 0 0, 100% 0); width: 50%; height : 40%"></My-Shape>

        </StackLayout>
    </AbsoluteLayout>
    <primary-button (tap)="save()"  class="m-b-10" backgroundColor="#1E7733" value="save"></primary-button>

    <bottom-header-app>

    </bottom-header-app>
</StackLayout>


