<!-- >> add-settle-up-dialog-host -->

<header-app title="SETTLE UP"></header-app>


<StackLayout class="m-t-5">
    <AbsoluteLayout  horizontalAlignment="center">
        <Image left="22"   class="rounded-image m-t-5" src="~/images/{{pickedUsers[0] ? pickedUsers[0].picturePath : 'rafal.jpg'}}"></Image>
        <StackLayout (tap)="userClicked(0)"  left="128" top="42" borderColor="#0081A7" borderWidth="1" backgroundColor="white" width="20" height="20">

            <My-Shape class="m-5" backgroundColor="#A93F55" style="clip-path: polygon(50% 100%, 0 0, 100% 0); width: 50%; height : 40%"></My-Shape>

        </StackLayout>
    </AbsoluteLayout>
    <My-Shape style="background-color: #0081A7; height: 50; width: 2%;"></My-Shape>
    <My-Shape
            style="background-color: #0081A7; height: 15; width: 5.2%; clip-path: polygon(0% 0%, 100% 0, 100% 0, 50% 100%, 50% 100%);"></My-Shape>

    <StackLayout orientation="horizontal" horizontalAlignment="center" width="56%">
        <TextField class="group" hint="How much?" borderColor="#0081A7" width="65%"
                   borderRadius="10 0 0 10"></TextField>

        <StackLayout orientation="horizontal" class="group" borderRadius="0 10 10 0">
            <Label   text="PLN" ></Label>
            <My-Shape class="m-l-5 m-t-5" backgroundColor="#A93F55" style="clip-path: polygon(50% 100%, 0 0, 100% 0); width: 10; height : 10;"></My-Shape>

        </StackLayout>
    </StackLayout>
    <My-Shape style="background-color: #0081A7; height: 50; width: 2%;"></My-Shape>
    <My-Shape
            style="background-color: #0081A7; height: 15; width: 5.2%; clip-path: polygon(0% 0%, 100% 0, 100% 0, 50% 100%, 50% 100%);"></My-Shape>
    <!--        <Label text='Count the days between the dates' class="m-15 h2" textWrap="true"></Label>-->

    <!--        <Label [text]='startDate | date:"MM/dd/yy"' class="m-15" textWrap="true"></Label>-->
    <!--        <Button class="primary-button btn-active" text="Enter Start Date" (tap)="getStartDate()"></Button>-->

    <!--        <Label [text]='endDate | date:"MM/dd/yy"' class="m-15" textWrap="true"></Label>-->
    <!--        <Button class="btn btn-primary btn-active" text="Enter End Date" (tap)="getEndDate()"></Button>-->

    <!--        <Label [text]='"Days: " + days' class="m-15" textWrap="true"></Label>-->
    <!--        <Button class="btn btn-primary btn-active" text="Count Days" (tap)="countDays()"></Button>-->

    <!--        <Label text='Use different date formats' class="m-15 h2" textWrap="true"></Label>-->

    <!--        <Label [text]='"Date: " + (selectedDate | date: "MM/dd/yy")' class="m-15" textWrap="true"></Label>-->
    <!--        <Label [text]='"Weekday: " + (selectedDate | date: "EEEE")' class="m-15" textWrap="true"></Label>-->
    <!--        <Button class="btn btn-primary btn-active" text="Enter Date" (tap)="getDate()"></Button>-->
    <AbsoluteLayout  horizontalAlignment="center">
        <Image left="22"   class="rounded-image m-b-20" src="~/images/{{pickedUsers[1] ? pickedUsers[1].picturePath : 'rafal.jpg'}}"></Image>
        <StackLayout (tap)="userClicked(1)"   left="128" top="42" borderColor="#0081A7" borderWidth="1" backgroundColor="white" width="20" height="20">

            <My-Shape class="m-5" backgroundColor="#A93F55" style="clip-path: polygon(50% 100%, 0 0, 100% 0); width: 50%; height : 40%"></My-Shape>

        </StackLayout>
    </AbsoluteLayout>
    <primary-button backgroundColor="#1E7733" value="save"></primary-button>

    <bottom-header-app>

    </bottom-header-app>
</StackLayout>


<!--<BottomNavigation selectedIndex="1">-->

<!--    &lt;!&ndash; The bottom tab UI is created via TabStrip (the containier) and TabStripItem (for each tab)&ndash;&gt;-->
<!--    <TabStrip>-->
<!--        <TabStripItem>-->

<!--            <Image src="font://&#xf51a;" class="fas"></Image>-->
<!--        </TabStripItem>-->

<!--        <TabStripItem class="special">-->

<!--            <Image src="font://&#xf155;" class="fas"></Image>-->
<!--        </TabStripItem>-->

<!--        <TabStripItem class="special">-->
<!--            <Image src="font://&#xf07a;" class="fas"></Image>-->
<!--        </TabStripItem>-->
<!--        <TabStripItem class="special">-->
<!--            <Image src="font://&#xf0c0;" class="fas"></Image>-->
<!--        </TabStripItem>-->

<!--    </TabStrip>-->

<!--    &lt;!&ndash; The number of TabContentItem components should corespond to the number of TabStripItem components &ndash;&gt;-->
<!--    &lt;!&ndash;    <TabContentItem>&ndash;&gt;-->
<!--    &lt;!&ndash;        <GridLayout>&ndash;&gt;-->
<!--    &lt;!&ndash;            <Label text="Home Page" class="h2 text-center"></Label>&ndash;&gt;-->
<!--    &lt;!&ndash;        </GridLayout>&ndash;&gt;-->
<!--    &lt;!&ndash;    </TabContentItem>&ndash;&gt;-->
<!--    &lt;!&ndash;    <TabContentItem>&ndash;&gt;-->
<!--    &lt;!&ndash;        <GridLayout>&ndash;&gt;-->
<!--    &lt;!&ndash;            <Label text="Account Page" class="h2 text-center"></Label>&ndash;&gt;-->
<!--    &lt;!&ndash;        </GridLayout>&ndash;&gt;-->
<!--    &lt;!&ndash;    </TabContentItem>&ndash;&gt;-->
<!--    &lt;!&ndash;    <TabContentItem>&ndash;&gt;-->
<!--    &lt;!&ndash;        <GridLayout>&ndash;&gt;-->
<!--    &lt;!&ndash;            <Label text="Search Page" class="h2 text-center"></Label>&ndash;&gt;-->
<!--    &lt;!&ndash;        </GridLayout>&ndash;&gt;-->
<!--    &lt;!&ndash;    </TabContentItem>&ndash;&gt;-->

<!--</BottomNavigation>-->
<!--&lt;!&ndash; << add-settle-up-dialog-host &ndash;&gt;-->

