<ActionBar>


    <GridLayout rows="50%,50%" columns="330"  width="100%">

        <Image row="0" horizontalAlignment="left"  src="font://&#xf0c9;" class="fas" height="20%" ></Image>
        <Image row="0" horizontalAlignment="right"  src="font://&#xf0f3;" class="fas" height="20%" ></Image>
        <Image row="0" horizontalAlignment="center"   src="~/images/avo.png" height="60%" ></Image>
        <Label row="1" [text]="title" horizontalAlignment="center" ></Label>

    </GridLayout>




</ActionBar>
