<BottomNavigation selectedIndex="1">


    <TabStrip>
        <TabStripItem>

            <Image src="font://&#xf51a;" class="fas"></Image>
        </TabStripItem>

        <TabStripItem >

            <Image src="font://&#xf155;" class="fas"></Image>
        </TabStripItem>

        <TabStripItem >
            <Image src="font://&#xf07a;" class="fas"></Image>
        </TabStripItem>
        <TabStripItem  >
            <Image src="font://&#xf0c0;" class="fas"></Image>
        </TabStripItem>

    </TabStrip>

    <!-- The number of TabContentItem components should corespond to the number of TabStripItem components -->
    <!--    <TabContentItem>-->
    <!--        <GridLayout>-->
    <!--            <Label text="Home Page" class="h2 text-center"></Label>-->
    <!--        </GridLayout>-->
    <!--    </TabContentItem>-->
    <!--    <TabContentItem>-->
    <!--        <GridLayout>-->
    <!--            <Label text="Account Page" class="h2 text-center"></Label>-->
    <!--        </GridLayout>-->
    <!--    </TabContentItem>-->
    <!--    <TabContentItem>-->
    <!--        <GridLayout>-->
    <!--            <Label text="Search Page" class="h2 text-center"></Label>-->
    <!--        </GridLayout>-->
    <!--    </TabContentItem>-->

</BottomNavigation>


