<header-app title="BALANCES"></header-app>
<GridLayout rows="auto, auto, *, *" backgroundColor="#F3F3F3" class="m-t-10">
    <ScrollView  row="1" class="m-b-10 m-t-5">

        <ListView height="365" [items]="usersList" separatorColor="transparent">

            <ng-template  let-item="item" >
                <app-balance-item  [input]="item" [selected]="clickedPerson===item" (handleRemove)="clickToRemove($event)"></app-balance-item>

            </ng-template>


        </ListView>

    </ScrollView>


    <StackLayout  row="2" verticalAlignment="bottom">
        <primary-button (tap)="remove()" value="remove"></primary-button>
    </StackLayout>

    <StackLayout row="3">
        <bottom-header-app></bottom-header-app>
    </StackLayout>
</GridLayout>
