<StackLayout (tap)="clickToRemove()">
    <StackLayout class="list-item" [ngClass]="{selected: selected}">
        <GridLayout rows="*">

            <StackLayout row="0" orientation="horizontal">
                <Image width="80" src="~/images/{{input.picturePath}}" class="rounded-image "></Image>

                <Label *ngIf="input.balance.interestedList.length!==0; else equal" verticalAlignment="center" class="list-name m-l-10">

                    <FormattedString>
                        <Span text="{{input.name}} " fontWeight="Bold"></Span>
                        <Span text="{{!input.balance.inDebt ? 'get\'s back ' : 'owes '}} "></Span>
                        <Span text="{{input.balance.quota.toString()}}" fontWeight="Bold"></Span>
                    </FormattedString>
                </Label>
                <ng-template #equal>
                    <Label verticalAlignment="center" class="list-name m-l-10">

                        <FormattedString>
                            <Span text="{{input.name}}'s" fontWeight="Bold"></Span>
                            <Span text=" balance is 0"></Span>

                        </FormattedString>
                    </Label>
                </ng-template>

            </StackLayout>
            <Label row="0" horizontalAlignment="right" [ngClass]="{notclicked: !clicked, clicked: clicked}"
                   style="background-color: #A93F55;" (tap)="click()"></Label>


        </GridLayout>
    </StackLayout>
    <GridLayout rows="auto" *ngIf="clicked && input.balance.interestedList!==0">
            <RadListView row="0"
                    [items]="input.balance.interestedList" separatorColor="transparent">


                <ng-template let-item="item">
                    <StackLayout>
                        <StackLayout class="list-item-nested">
                            <GridLayout rows="*">

                                <StackLayout row="0" orientation="horizontal">
                                    <Image width="69" src="~/images/{{item.user.picturePath}}"
                                           class="rounded-image "></Image>
                                    <Label verticalAlignment="center" class="list-name-nested m-l-10">

                                        <FormattedString>
                                            <Span text="{{item.user.name}} " fontWeight="Bold"></Span>
                                            <Span text="{{!item.inDebt ? 'get\'s back ' : 'owes '}} "></Span>
                                            <Span text="{{item.quota.toString()}}" fontWeight="Bold"></Span>
                                        </FormattedString>
                                    </Label>


                                </StackLayout>


                            </GridLayout>
                        </StackLayout>
                    </StackLayout>

                </ng-template>


            </RadListView>

    </GridLayout>


</StackLayout>
